/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el
/profiles.clj
/dev/resources/local.edn
/dev/src/local.clj
.idea/
*.iml
figwheel_server.log
/oph-configuration/config.edn
.cljs_rhino_repl/
logs/
.DS_Store
/out_*
*.pem
tools/dev-proxy/node_modules/*
