@charset "UTF-8";
html,
body {
  height: 100%;
}
.clearfix,
.exam-session-form,
.registration .section,
.search .search-fields,
.buttons,
#header .user,
#nav-holder ul {
  zoom: 1;
}
.clearfix:before,
.clearfix:after,
.exam-session-form:before,
.exam-session-form:after,
.registration .section:before,
.registration .section:after,
.search .search-fields:before,
.search .search-fields:after,
.buttons:before,
.buttons:after,
#header .user:before,
#header .user:after,
#nav-holder ul:before,
#nav-holder ul:after {
  content: "";
  display: table;
}
.clearfix:after,
.exam-session-form:after,
.registration .section:after,
.search .search-fields:after,
.buttons:after,
#header .user:after,
#nav-holder ul:after {
  clear: both;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}
input.invalid {
  border-color: #ff2632 !important;
}
/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
table {
  border-collapse: collapse;
}
.flash-container {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.flash-container .flash-message {
  background-color: #e6e6e6;
  display: inline-block;
  line-height: normal;
  padding: 5px 15px;
  border-radius: 7px;
  opacity: 0.9;
}
.flash-container .flash-message span {
  display: inline-block;
}
.flash-container .icon {
  margin-right: 15px;
  font-size: 3rem;
  vertical-align: middle;
}
.flash-container .text {
  vertical-align: middle;
  font-size: 1.5rem;
}
.flash-container .success {
  color: #00af2f;
}
.exam-sessions {
  margin: 1em 0;
}
.exam-sessions table {
  width: 100%;
}
.exam-session-dates div,
.exam-session-dates .pikaday-input {
  display: inline-block;
  position: relative;
}
.exam-session-dates div:not(:first-child),
.exam-session-dates .pikaday-input:not(:first-child) {
  margin-left: 15px;
}
.exam-session-dates input {
  width: 150px;
}
.exam-session-form .row {
  margin-bottom: .7em;
}
.exam-session-form span,
.exam-session-form input,
.exam-session-form .times,
.exam-session-form .pikaday-input {
  display: inline-block;
  position: relative;
}
.exam-session-form .pikaday-input {
  margin-right: 15px;
}
.exam-session-form input {
  width: 230px;
}
.exam-session-form input[type="checkbox"] {
  width: auto;
}
.exam-session-form .times input {
  width: 80px;
  margin: 0;
}
.exam-session-form .times .dash {
  margin: 0 5px;
}
.exam-session-form .label {
  width: 250px;
}
.exam-session-form .input-group-inline {
  display: inline-block;
}
.exam-session-form .input-group-inline input {
  margin-right: 15px;
}
.date-picker-icon {
  position: absolute;
  top: 10px;
  right: 5px;
  opacity: 0.7;
  pointer-events: none;
}
.reporting {
  margin-top: 3em;
}
.reporting .month-option {
  width: 200px;
}
.reporting input {
  margin-left: 10px;
}
.reporting .result {
  display: inline-block;
  vertical-align: middle;
  line-height: 38px;
  margin-left: 15px;
}
.registration .section {
  margin-bottom: 1em;
}
.registration .participant .row {
  margin-top: .5em;
}
.registration .participant .row input,
.registration .participant .row select {
  width: 70%;
  max-width: 600px;
}
.registration .exam-session-info {
  margin-left: 150px;
  max-width: 600px;
}
.registration .exam-sections .row {
  margin: 5px 0 5px 30px;
}
.registration .exam-sections .row input {
  margin-right: 10px;
  vertical-align: middle;
}
.registration .exam-sections .row .modules {
  margin: 5px 0 5px 20px;
  font-size: .9rem;
}
.registration .exam-sections .row .modules input {
  vertical-align: middle;
  margin: 0 5px;
}
.registration .exam-sections .partial-accreditation {
  margin: 10px 0 10px 25px;
  font-size: .9rem;
}
.registration .exam-sections .partial-accreditation .modules {
  margin-left: -3px;
}
.registration .price {
  text-transform: uppercase;
  font-weight: bold !important;
}
.registration span.label {
  display: inline-block;
  width: 150px;
}
.registration .registration-pending {
  color: #00a651;
  font-size: 2.5rem;
}
.exam-session-selection {
  font-weight: bold;
}
.exam-session-selection select {
  width: 70%;
  max-width: 600px;
}
.exam-session-selection span.label {
  display: inline-block;
  width: 150px;
}
@media print {
  .exam-session-selection select,
  .exam-session-selection span.label {
    display: none;
  }
}
.exam-session-selection #exam-session-label {
  display: none;
}
@media print {
  .exam-session-selection #exam-session-label {
    display: inline-block;
  }
}
.authentication .dummy-auth {
  margin-top: 40px;
  padding: 5px 10px 15px 10px;
  background-color: #ecedf1;
}
.authentication .automatic-address input {
  margin-right: 5px;
}
/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999 !important;
  display: block !important;
  position: relative !important;
  color: #333 !important;
  background: #fff !important;
  border: 1px solid #ccc !important;
  border-bottom-color: #bbb !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " " !important;
  display: table !important;
}
.pika-single:after {
  clear: both;
}
.pika-single {
  *zoom: 1;
}
.pika-single.is-hidden {
  display: none !important;
}
.pika-single.is-bound {
  position: absolute !important;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5) !important;
}
.pika-lendar {
  float: left !important;
  width: 240px !important;
  margin: 8px !important;
}
.pika-title {
  position: relative !important;
  text-align: center !important;
}
.pika-label {
  display: inline-block !important;
  *display: inline !important;
  position: relative !important;
  z-index: 9999 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 5px 3px !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: bold !important;
  background-color: #fff !important;
}
.pika-title select {
  cursor: pointer !important;
  position: absolute !important;
  z-index: 9998 !important;
  margin: 0 !important;
  left: 0 !important;
  top: 5px !important;
  filter: alpha(opacity=0) !important;
  opacity: 0 !important;
}
.pika-prev,
.pika-next {
  display: block !important;
  cursor: pointer !important;
  position: relative !important;
  outline: none !important;
  border: 0 !important;
  padding: 0 !important;
  width: 20px !important;
  height: 30px !important;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  background-color: transparent !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 75% 75% !important;
  opacity: .5 !important;
  *position: absolute !important;
  *top: 0 !important;
}
.pika-prev:hover,
.pika-next:hover {
  opacity: 1 !important;
}
.pika-prev,
.is-rtl .pika-next {
  float: left !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==') !important;
  *left: 0 !important;
}
.pika-next,
.is-rtl .pika-prev {
  float: right !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=') !important;
  *right: 0 !important;
}
.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default !important;
  opacity: .2 !important;
}
.pika-select {
  display: inline-block !important;
  *display: inline !important;
}
.pika-table {
  width: 100% !important;
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  border: 0 !important;
}
.pika-table th,
.pika-table td {
  width: 14.285714285714286% !important;
  padding: 0 !important;
  border: 0 !important;
}
.pika-table th {
  color: #999 !important;
  font-size: 12px !important;
  line-height: 25px !important;
  font-weight: bold !important;
  text-align: center !important;
}
.pika-button {
  cursor: pointer !important;
  display: block !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  outline: none !important;
  border: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  padding: 5px !important;
  color: #666 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  text-align: right !important;
  background: #f5f5f5 !important;
}
.pika-week {
  font-size: 11px !important;
  color: #999 !important;
}
.is-today .pika-button {
  color: #33aaff !important;
  font-weight: bold !important;
}
.is-selected .pika-button {
  color: #fff !important;
  font-weight: bold !important;
  background: #33aaff !important;
  box-shadow: inset 0 1px 3px #178fe5 !important;
  border-radius: 3px !important;
}
.is-inrange .pika-button {
  background: #D5E9F7 !important;
}
.is-startrange .pika-button {
  color: #fff !important;
  background: #6CB31D !important;
  box-shadow: none !important;
  border-radius: 3px !important;
}
.is-endrange .pika-button {
  color: #fff !important;
  background: #33aaff !important;
  box-shadow: none !important;
  border-radius: 3px !important;
}
.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  pointer-events: none !important;
  cursor: default !important;
  color: #999 !important;
  opacity: .3 !important;
}
.pika-button:hover {
  color: #fff !important;
  background: #ff8000 !important;
  box-shadow: none !important;
  border-radius: 3px !important;
}
/* styling for abbr */
.pika-table abbr {
  border-bottom: none !important;
  cursor: help !important;
}
@font-face {
  font-family: 'oti-icons';
  src: url('../font/oti-icons.eot?92305122');
  src: url('../font/oti-icons.eot?92305122#iefix') format('embedded-opentype'), url('../font/oti-icons.woff2?92305122') format('woff2'), url('../font/oti-icons.woff?92305122') format('woff'), url('../font/oti-icons.ttf?92305122') format('truetype'), url('../font/oti-icons.svg?92305122#oti-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "oti-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-calendar:before {
  content: '\e800';
}
/* '' */
.icon-ok:before {
  content: '\e801';
}
/* '' */
.icon-cancel:before {
  content: '\e802';
}
/* '' */
.icon-attention:before {
  content: '\e803';
}
/* '' */
.icon-info:before {
  content: '\e804';
}
/* '' */
.icon-spin3:before {
  content: '\e832';
}
/* '' */
.registrations {
  margin-top: 2em;
}
.registrations table {
  width: 100%;
}
@media print {
  .registrations table {
    font-size: 0.8rem;
  }
  .registrations table a {
    color: #1b1b1b;
  }
}
.registrations table td {
  position: relative;
}
.registrations table .icon-attention {
  position: absolute;
  left: -25px;
}
.ext-link a,
.ext-link p {
  font-size: 0.9rem;
}
@media print {
  .ext-link {
    display: none;
  }
}
.ext-link .link-input .link-text {
  width: auto;
  overflow: hidden;
}
.ext-link .link-input input {
  width: 100%;
}
.ext-link .link-input .copy-button {
  width: 175px;
  float: right;
}
.ext-link .link-input .copy-button button {
  width: 100%;
  margin: 0;
}
@keyframes loader {
  0% {
    color: #1b1b1b;
  }
  50% {
    color: #00a651;
  }
  100% {
    color: #1b1b1b;
  }
}
.loader {
  opacity: 1;
  position: absolute;
  z-index: 9000;
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: loader;
  -moz-animation-name: loader;
  -o-animation-name: loader;
  animation-name: loader;
  -webkit-animation-fill-mode: both, forwards;
  -moz-animation-fill-mode: both, forwards;
  -o-animation-fill-mode: both, forwards;
  animation-fill-mode: both, forwards;
  -webkit-animation-duration: 2s, 2s;
  -moz-animation-duration: 2s, 2s;
  -o-animation-duration: 2s, 2s;
  animation-duration: 2s, 2s;
  -webkit-animation-delay: 0s, 0s;
  -moz-animation-delay: 0s, 0s;
  -o-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
  -webkit-animation-iteration-count: infinite, 1;
  -moz-animation-iteration-count: infinite, 1;
  -o-animation-iteration-count: infinite, 1;
  animation-iteration-count: infinite, 1;
}
.small-loader {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;
  font-size: 3rem;
  color: #f69532;
}
.search .search-fields {
  margin-top: 15px;
}
.search .search-fields span.label {
  display: inline-block;
  margin-right: 15px;
}
.search .search-fields input,
.search .search-fields select {
  display: inline-block;
  width: 60%;
}
.search .half {
  float: left;
  width: 50%;
}
.search .results {
  margin-top: 2em;
}
.search .results .no-results {
  text-align: center;
}
.search .results table {
  width: 100%;
}
.search .diploma-printing {
  margin-top: 2em;
}
.search .diploma-printing input {
  margin-right: 5px;
  width: 32%;
  min-width: 200px;
}
.search .diploma-printing .inputs {
  width: auto;
  overflow: hidden;
}
.search .diploma-printing .print-button {
  width: auto;
  padding-left: 5px;
  float: right;
}
.search .diploma-printing .print-button button {
  margin: 0;
}
.participant-details span {
  display: inline-block;
}
.participant-details .person .label {
  width: 200px;
}
.participant-details .person .row {
  margin-bottom: 1em;
}
.participant-details .section {
  margin-top: 2em;
}
.participant-details .accreditations {
  background-color: #f5f5f5;
  padding: 10px 5px;
  margin-bottom: 1em;
}
.participant-details .accreditations h4 {
  margin-top: 0;
}
.participant-details .accreditation label input {
  display: inline-block;
  margin-right: 10px;
  vertical-align: baseline;
}
.participant-details .accreditation select {
  min-width: 200px;
  background-color: #FFFFFF;
}
.participant-details .accreditation .accreditation-type {
  margin-top: 5px;
}
.participant-details .accreditation .accreditation-type span {
  margin-right: 10px;
}
.participant-details .module-accreditations .module:not(:first-child) {
  margin-top: 1em;
}
.participant-details table {
  font-size: 0.9rem;
  width: 100%;
}
.participant-details table td {
  position: relative;
}
.participant-details table .icon-attention {
  position: absolute;
  left: -25px;
}
.participant-details table .icon-cancel {
  font-size: 1.7rem;
  color: #eb2730;
  position: absolute;
  top: 5px;
  right: -35px;
  cursor: pointer;
}
.participant-details table .date {
  width: 165px;
}
.participant-details table .location {
  width: 200px;
}
.participant-details table .section-result {
  width: 80px;
}
.participant-details table th {
  vertical-align: bottom;
  font-size: 0.7rem;
}
.participant-details table .score,
.participant-details table .module-name {
  text-align: right;
}
.participant-details table .cancellation {
  width: 0;
  padding: 0;
}
.participant-details table tr.cancelled td,
.participant-details table tr.cancelled span {
  text-decoration: line-through;
}
.participant-details .payments {
  margin-bottom: 2em;
}
.participant-details .payments table .amount {
  width: 200px;
}
.participant-details .payments table .state {
  width: 150px;
}
.participant-details .payments table .functions {
  text-align: right;
}
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.confirmation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirmation .overlay {
  position: fixed;
  opacity: 0.8;
  background-color: #000;
  height: 100%;
  width: 100%;
}
.confirmation .dialog {
  position: fixed;
  opacity: 1;
  z-index: 15;
  background-color: #fff;
  padding: 20px 20px;
  width: 400px;
  max-width: 90%;
}
.confirmation .buttons {
  margin-top: 2em;
}
.left {
  float: left;
}
.right {
  float: right;
}
div,
ul,
li {
  box-sizing: border-box;
}
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1b1b1b !important;
}
.language-dropdown {
  padding-left: 0 !important;
}
a,
a:visited,
a:active {
  color: #00a651;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.button {
  text-decoration: none;
}
.container {
  max-width: 940px;
  padding-bottom: 2em;
}
.container label,
.container p {
  color: #1b1b1b !important;
}
input,
.form-control,
.btn {
  border-radius: 0 !important;
}
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding-right: 20px;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") no-repeat 100% 50%;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #f4f6f6 !important;
  border: #a8a8a8 1px solid !important;
  color: #1b1b1b !important;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: bold !important;
  height: 38px;
  line-height: 38px;
  padding: 0 12px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #fafafa !important;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #18a555 !important;
  border: #18a555 1px solid !important;
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: bold !important;
  height: 38px;
  line-height: 38px;
  padding: 0 12px;
  cursor: pointer;
  display: inline-block;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: #17ab5d !important;
}
.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
  background-color: #c80024 !important;
  border: #c80024 1px solid !important;
  color: #ffffff !important;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: bold !important;
  height: 38px;
  line-height: 38px;
  padding: 0 12px;
  cursor: pointer;
  display: inline-block;
}
.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover {
  background-color: #e20029 !important;
}
.button[disabled=disabled],
button[disabled=disabled],
input[type="submit"][disabled=disabled],
input[type="reset"][disabled=disabled],
input[type="button"][disabled=disabled],
.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
  opacity: 0.3;
  cursor: default;
}
.button:not(:first-child),
button:not(:first-child),
input[type="submit"]:not(:first-child),
input[type="reset"]:not(:first-child),
input[type="button"]:not(:first-child) {
  margin-left: .7em;
}
.button.button-small,
button.button-small,
input[type="submit"].button-small,
input[type="reset"].button-small,
input[type="button"].button-small {
  line-height: normal;
  height: 28px;
}
.buttons {
  margin-top: 1em;
}
.tulkki-name {
  color: #00a651;
  cursor: pointer;
}
.help-text {
  display: inline-block;
}
.help-text span {
  position: relative;
  color: #999999;
  display: inline-block;
  font-size: 14px;
}
.help-text span:first-child {
  padding-top: 10px;
}
#header {
  padding-top: 20px;
  max-width: 940px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#header img {
  float: left;
  width: 271px;
}
#header p {
  margin: 0;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #1b1b1b;
  text-transform: uppercase;
  display: inline-block;
  height: 70px;
  vertical-align: middle;
}
#header a.language-link {
  padding-top: 25px;
  text-decoration: none;
  float: right;
  font-size: 14px;
  color: #515151;
  cursor: pointer;
}
#header .user {
  padding-top: 20px;
  display: block;
  line-height: normal;
  float: right;
  text-align: right;
  font-size: 12px;
}
#header .user div {
  float: none;
}
#header .user a {
  padding: 0;
}
@media print {
  #header {
    display: none;
  }
}
#content-area {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}
@media print {
  #content-area {
    padding: 0;
  }
}
#nav-holder {
  background-color: #efeeee;
  background-repeat: repeat-x;
  height: 50px;
  background-image: url("../img/bg-section02.png");
}
#nav-holder ul {
  list-style: none;
  border-left: white 1px solid;
}
#nav-holder ul a {
  text-decoration: none;
  color: black;
}
#nav-holder ul li {
  float: left;
  height: 50px;
  padding: 14px 5px 0 5px;
}
#nav-holder ul li.active {
  border-bottom: #00a651 5px solid;
}
#nav-holder ul li.divider {
  width: 0;
  padding: 0;
  border-left: 1px solid white;
  border-bottom: white;
}
#nav-holder.first-child {
  background: rgba(0, 0, 0, 0) no-repeat scroll 0 0;
  float: left;
  padding: 0 0 0 1px;
  white-space: nowrap;
  line-height: 1.176em;
}
@media print {
  #nav-holder {
    display: none;
  }
}
#main-nav {
  max-width: 940px;
  margin: 0 auto;
  padding-left: 0;
}
.instructions {
  padding: 40px 0;
  max-width: 600px;
}
.pagination > li.active > a {
  background-color: #f2f2f2 !important;
}
.pagination > li a {
  background-color: white !important;
  border: 1px solid #cccccc !important;
  color: #1b1b1b !important;
  cursor: pointer;
}
.pagination > li > a,
.pagination > li > span {
  border-radius: 0 !important;
  height: 34px !important;
}
.multiline {
  white-space: pre-line;
}
.multiline span {
  display: block;
  line-height: 5px;
  padding-bottom: 8px;
}
.no-results {
  padding-top: 1em;
  width: 100%;
  text-align: center;
}
.warn {
  color: #f69532;
}
.error {
  color: #eb2730;
}
