{:registration-success
 {:fi {:subject
       "Ilmoittautumisesi opetushallinnon tutkintoon"
       :body
       "Vahvistus ilmoittautumisesta opetushallinnon tutkintoon

       Ajankohta: :date-and-time
       Suoritettavat osiot: :sections
       Tutkintomaksu maksettu: :amount €

       Opetushallitus"}
  :sv {:subject
       "Din anmälan till examen i undervisningsförvaltning"
       :body
       "Bekräftelse av anmälan till examen i undervisningsförvaltning

       Datum: :date-and-time
       Valda delar: :sections
       Betald examensavgift: :amount €

       Utbildningsstyrelsen"}}}
