{:components
 {:app              duct.component.handler/handler-component
  :http             oti.component.http-kit-server/http-kit-server
  :db               duct.component.hikaricp/hikaricp
  :ragtime          duct.component.ragtime/ragtime
  :cas              oti.component.cas/cas-config
  :api-client       oti.component.api-client/api-client
  :localisation     oti.component.localisation/localisation
  :paytrail-payment oti.component.paytrail-payment/paytrail-payment
  :scheduler        oti.component.scheduler/scheduler
  :email-service    oti.component.email-service/email-service
  :url-helper       oti.component.url-helper/url-helper
  :global-config    oti.component.global-config/global-config}
 :endpoints
 {:status        oti.endpoint.status/status-endpoint
  :frontend      oti.endpoint.frontend/frontend-endpoint
  :auth          oti.endpoint.auth/auth-endpoint
  :virkailija    oti.endpoint.virkailija/virkailija-endpoint
  :participant   oti.endpoint.participant/participant-endpoint
  :payment       oti.endpoint.payment/payment-endpoint
  :token-secured oti.endpoint.token-secured/token-secured-endpoint}
 :dependencies
 {:http          [:app]
  :app           [:status :token-secured :frontend :auth :virkailija :participant :payment]
  :ragtime       [:db]
  :status        [:db]
  :auth          [:cas :api-client :url-helper :global-config]
  :virkailija    [:db :api-client :localisation :email-service]
  :frontend      [:url-helper :global-config]
  :localisation  [:url-helper]
  :email-service [:url-helper]
  :participant   [:db :payments :api-client :localisation :paytrail-payment :url-helper :global-config :email-service]
  :payment       [:paytrail-payment :db :api-client :email-service]
  :cas           [:url-helper]
  :api-client    [:cas :url-helper]
  :scheduler     [:db :email-service]
  :token-secured [:db :api-client]}
 :config
 {:app
  {:middleware
   {:functions
    {:hide-errors      duct.middleware.errors/wrap-hide-errors
     :log-exceptions   oti.util.logging.exception/log-exceptions
     :not-found        duct.middleware.not-found/wrap-not-found
     :ring-defaults    ring.middleware.defaults/wrap-defaults
     :session          oti.util.session/wrap-session
     :restful-format   ring.middleware.format/wrap-restful-format
     :ring-logger      oti.util.logging.access/wrap-with-logger}
    :applied
    [:not-found :restful-format :ring-defaults :log-exceptions :hide-errors :session :ring-logger]
    :arguments
    {:not-found   "Resource Not Found"
     :hide-errors "Internal Server Error"
     :ring-defaults
     {:params    {:urlencoded true
                  :keywordize true}
      :responses {:not-modified-responses true
                  :absolute-redirects     true
                  :content-types          true
                  :default-charset        "utf-8"}
      :security  {:hsts false}}}}}
  :http
  {:port   http-port
   :thread 80}
  :ragtime {:resource-path "oti/migrations"}
  :api-client {:oppijanumerorekisteri-service "oppijanumerorekisteri-service"}}}
