{:components
 {:app  duct.component.handler/handler-component
  :http oti.component.http-kit-server/http-kit-server
  :db   duct.component.hikaricp/hikaricp
  :ragtime duct.component.ragtime/ragtime
  :ldap oti.component.ldap/ldap
  :cas oti.component.cas/cas-config
  :api-client oti.component.api-client/api-client
  :localisation oti.component.localisation/localisation
  :vetuma-payment oti.component.vetuma-payment/vetuma-payment
  :scheduler oti.component.scheduler/scheduler
  :email-service oti.component.email-service/email-service}
 :endpoints
 {:status oti.endpoint.status/status-endpoint
  :frontend oti.endpoint.frontend/frontend-endpoint
  :auth oti.endpoint.auth/auth-endpoint
  :virkailija oti.endpoint.virkailija/virkailija-endpoint
  :participant oti.endpoint.participant/participant-endpoint
  :payment oti.endpoint.payment/payment-endpoint}
 :dependencies
 {:http [:app]
  :app  [:status :frontend :auth :virkailija :participant :payment]
  :ragtime [:db]
  :status [:db]
  :auth [:authentication :cas :ldap]
  :virkailija [:db :api-client]
  :frontend [:authentication]
  :participant [:db :payments :api-client :localisation :vetuma-payment]
  :payment [:vetuma-payment :db :api-client :email-service]
  :api-client [:cas]
  :scheduler [:db :vetuma-payment :email-service]}
 :config
 {:app
  {:middleware
   {:functions
    {:hide-errors    duct.middleware.errors/wrap-hide-errors
     :not-found      duct.middleware.not-found/wrap-not-found
     :ring-defaults  ring.middleware.defaults/wrap-defaults
     :session        oti.util.session/wrap-session
     :restful-format ring.middleware.format/wrap-restful-format
     :ring-logger    oti.util.logging.core/wrap-with-logger
     }
    :applied
    [:not-found :restful-format :ring-defaults :ring-logger :hide-errors :session]
    :arguments
    {:not-found   "Resource Not Found"
     :hide-errors "Internal Server Error"
     :session     "soroRfgsbxRTsnXc"
     :ring-defaults
     {:params    {:urlencoded true
                  :keywordize true}
      :responses {:not-modified-responses true
                  :absolute-redirects     true
                  :content-types          true
                  :default-charset        "utf-8"}}}}}
  :http
  {:port http-port
   :thread 80}
  :ragtime
  {:resource-path "oti/migrations"}
  :payments {:amounts {:full 212
                       :retry 87}}
  :api-client {:authentication-service-path "/authentication-service"}}}
