{:config
 {:app
  {:middleware
   {:functions {}
    :applied   ^:replace [:not-found :restful-format :ring-defaults :log-exceptions :hide-errors :session :ring-logger]
    :arguments {:session {:key "soroRfgsbxRTsnXc" :cookie-attrs {:max-age 3600
                                                                 :http-only true
                                                                 :secure false
                                                                 :path "/oti"}}}}}
  :http {:port 3000}
  :db {:uri "jdbc:postgresql://localhost/oti"}
  :localisation {:default-parameters {:category "oti"}}
  :paytrail-payment {:paytrail-host "https://services.paytrail.com/payments"
                     :oti-paytrail-uri "https://oti.local/oti/paytrail"
                     :merchant-id 375917
                     :merchant-secret "SAIPPUAKAUPPIAS"}
  :url-helper {:virkailija-host "virkailija.untuvaopintopolku.fi"
               :tunnistus-host "tunnistus.untuvaopintopolku.fi"
               :alb-host "https://virkailija.untuvaopintopolku.fi"
               :oti-host "http://localhost:3000"
               :oppija-host "untuvaopintopolku.fi"}
  :global-config {:env "dev"}
  :payments   {:amounts {:full  256
                         :retry 87}}}}
