.exam-sessions {
  margin: 15px 0;

  table {
    width: 100%;
  }
}

.exam-session-form {
  &:extend(.clearfix all);

  .row {
    margin-bottom: .7em;
  }

  span, input, .times, .pikaday-input {
    display: inline-block;
    position: relative;
  }
  input {
    width: 230px;
  }
  input[type="checkbox"] {
    width: auto;
  }
  .times {
    input {
      width: 80px;
      margin: 0;
    }
    .dash {
      margin: 0 5px;
    }
  }
  input {
    margin-right: 15px;
  }
  .label {
    width: 250px;
  }

  .input-group-inline {
    display: inline-block;
  }

  .date-picker-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    opacity: 0.7;
  }
}
