.exam-sessions {
  margin: 1em 0;
  table {
    width: 100%;
  }
}

.exam-session-dates {
  div, .pikaday-input {
    display: inline-block;
    position: relative;
    &:not(:first-child) {
      margin-left: 15px;
    }
  }
  input {
    width: 150px;
  }
}

.exam-session-form {
  &:extend(.clearfix all);

  .row {
    margin-bottom: .7em;
  }

  span, input, .times, .pikaday-input {
    display: inline-block;
    position: relative;
  }
  .pikaday-input {
    margin-right: 15px;
  }
  input {
    width: 230px;
  }
  input[type="checkbox"] {
    width: auto;
  }
  .times {
    input {
      width: 80px;
      margin: 0;
    }
    .dash {
      margin: 0 5px;
    }
  }
  .label {
    width: 250px;
  }

  .input-group-inline {
    display: inline-block;
    input {
      margin-right: 15px;
    }
  }
}

.date-picker-icon {
  position: absolute;
  top: 10px;
  right: 5px;
  opacity: 0.7;
  pointer-events: none;
}

.reporting {
  margin-top: 3em;
  .month-option {
    width: 200px;
  }
  input {
    margin-left: 10px;
  }
  .result {
    display: inline-block;
    vertical-align: middle;
    line-height: 38px;
    margin-left: 15px;
  }
}