@font-face {
  font-family: 'oti-icons';
  src: url('../font/oti-icons.eot?13036337');
  src: url('../font/oti-icons.eot?13036337#iefix') format('embedded-opentype'),
  url('../font/oti-icons.woff2?13036337') format('woff2'),
  url('../font/oti-icons.woff?13036337') format('woff'),
  url('../font/oti-icons.ttf?13036337') format('truetype'),
  url('../font/oti-icons.svg?13036337#oti-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "oti-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-calendar:before { content: '\e800'; }
.icon-ok:before { content: '\e801'; }
.icon-cancel:before { content: '\e802'; }
.icon-attention:before { content: '\e803'; }
.icon-info:before { content: '\e804'; }
.icon-spin3:before { content: '\e832'; }
.icon-down-open:before { content: '\f004'; }
.icon-up-open:before { content: '\f005'; }
