.participant-details {
  span {
    display: inline-block;
  }
  .person {
    .label {
      width: 200px;
    }
    .row {
      margin-bottom: 1em;
    }
  }
  .section {
    margin-top: 2em;
  }
  table {
    font-size: 0.9rem;
    width: 100%;
    .date {
      width: 165px;
    }
    .location {
      width: 200px;
    }
    .section-result {
      width: 90px;
    }
    th {
      vertical-align: bottom;
    }
    .module-name {
      font-size: 0.7rem;
    }
  }
}