form.registration {
  .section {
    margin-bottom: 1.5em;
  }
  .exam-session {
    font-weight: bold;
    label {
      margin-right: .5em;
    }
    select {
      width: 60%;
      max-width: 500px;
    }
  }
  .participant {
    .email {
      margin-top: .5em;
      input {
        margin-left: .5em;
        width: 200px;
      }
    }
  }
}