.registration {
  .section {
    &:extend(.clearfix all);
    margin-bottom: 1em;
  }
  .participant {
    .row {
      margin-top: .5em;
      input, select {
        width: 60%;
        max-width: 500px;
      }
    }
  }
  .exam-sections {
    .row {
      margin: 5px 0 5px 30px;
      input {
        margin-right: 10px;
        vertical-align: middle;
      }
      .modules {
        margin: 5px 0 5px 20px;
        font-size: .9rem;
        input {
          vertical-align: middle;
          margin: 0 5px;
        }
      }
    }
    .partial-accreditation {
      margin: 10px 0 10px 25px;
      font-size: .9rem;
      .modules {
        margin-left: -3px;
      }
    }
  }
  .price {
    text-transform: uppercase;
    font-weight: bold !important;
  }
  span.label {
    display: inline-block;
    width: 150px;
  }
}

.exam-session-selection {
  font-weight: bold;
  select {
    width: 60%;
    max-width: 500px;
  }
  span.label {
    display: inline-block;
    width: 150px;
  }
}
