.search {
  .search-fields {
    &:extend(.clearfix all);
    margin-top: 15px;

    span.label {
      display: inline-block;
      margin-right: 15px;
    }

    input, select {
      display: inline-block;
      width: 60%;
    }
  }
  .half {
    float: left;
    width: 50%;
  }
  .results {
    .no-results {
      text-align: center;
    }
    margin-top: 2em;
    table {
      width: 100%;
    }
  }
  .diploma-printing {
    margin-top: 2em;
    input {
      margin-right: 5px;
      width: 32%;
      min-width: 200px;
    }
    .inputs {
      width: auto;
      overflow: hidden;
    }
    .print-button {
      width: auto;
      padding-left: 5px;
      float: right;
      button {
        margin: 0;
      }
    }
  }
}
