html, body {
  height: 100%;
}

.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

@import "_forms";
@import "_tables";
@import "_flash";
@import "_exam-sessions";
@import "_registration";
@import "_pikaday";
@import "_icons";
@import "_registrations";
@import "_loader";
@import "_search";
@import "_participant";
@import "_animation";

.left {
  float: left;
}

.right {
  float: right;
}

@oph-green: #00a651;
@default-font-color: #1b1b1b;
@oph-orange: #F69532;
@oph-red: #EB2730;
@oph-yellow: #FED42F;
@oph-violet: #902A8E;

div, ul, li {
  box-sizing: border-box;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.oph-button(@color, @font-color, @border-color) {
  background-color: @color !important;
  border: @border-color 1px solid !important;
  color: @font-color !important;

  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 10px 12px;
  cursor: pointer;
  display: inline-block;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @default-font-color !important;
}

.language-dropdown{
  padding-left: 0 !important;
}

a, a:visited, a:active {
  color: @oph-green;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.button {
  text-decoration: none;
}

.container{
  max-width: 940px;
  padding-bottom: 2em;

  label,
  p {
    color: @default-font-color !important;
  }
}

input,
.form-control,
.btn{
  border-radius: 0 !important;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") no-repeat 100% 50%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  .oph-button(#f4f6f6, #1b1b1b, #a8a8a8);
  &:hover {
    background-color: #fafafa !important;
  }
  &.button-primary {
    .oph-button(rgb(24,165,85), #ffffff, rgb(24,165,85));
    &:hover {
      background-color: rgb(23, 171, 93) !important;
    }
  }
  &.button-danger {
    .oph-button(rgb(200, 0, 36), #ffffff, rgb(200, 0, 36));
    &:hover {
      background-color: rgb(226, 0, 41) !important;
    }
  }
  &[disabled=disabled], &:disabled {
    opacity: 0.3;
    cursor: default;
  }
  text-decoration: none;

  &:not(:first-child) {
    margin-left: .7em;
  }
}

.buttons {
  &:extend(.clearfix all);
  margin-top: 1em;
}

.tulkki-name{
  color: @oph-green;
  cursor: pointer;
}

.help-text{
  display: inline-block;

  span{
    position: relative;
    color: #999999;
    display: inline-block;
    font-size: 14px;
  }

  span:first-child{
    padding-top: 10px;
  }
}

#header{
  padding-top: 20px;
  max-width: 940px !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  & img{
    float: left;
    width: 271px;
  }

  & p{
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #1b1b1b;
    text-transform: uppercase;
    display: inline-block;
    height: 70px;
    vertical-align: middle;
  }

  a.language-link {
    padding-top: 25px;
    text-decoration: none;
    float: right;
    font-size: 14px;
    color: #515151;
    cursor: pointer;
  }

  .user {
    padding-top: 20px;
    &:extend(.clearfix all);
    display: block;
    line-height: normal;
    float: right;
    text-align: right;
    font-size: 12px;
    div {
      float: none;
    }
    a {
      font-size: 11px;
      padding: 0;
    }
  }
}

#content-area{
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
}

#nav-holder{
  background-color: #efeeee;
  background-repeat: repeat-x;
  height: 50px;
  background-image: url("../img/bg-section02.png");

  ul{
    &:extend(.clearfix all);
    list-style: none;
    border-left: white 1px solid;

    a{
      text-decoration: none;
      color: black;
    }

    li{
      float: left;
      height: 50px;
      padding: 14px 5px 0 5px;

      &.active {
        border-bottom: @oph-green 5px solid;
      }

      &.divider{
        width: 0;
        padding: 0;
        border-left: 1px solid white;
        border-bottom: white;
      }
    }
  }

  &.first-child{
    background: rgba(0, 0, 0, 0) no-repeat scroll 0 0;
    float: left;
    padding: 0 0 0 1px;
    white-space: nowrap;
    line-height: 1.176em;
  }
}

#main-nav{
  max-width: 940px;
  margin: 0 auto;
  padding-left: 0;
}

.instructions{
  padding: 40px 0;
  max-width: 600px;
}

.pagination > li {
  &.active > a {
    background-color: #f2f2f2 !important;
  }

  a {
    background-color: white !important;
    border: 1px solid #cccccc !important;
    color: @default-font-color !important;
    cursor: pointer;
  }
}

.pagination > li > a, .pagination > li > span {
  border-radius: 0 !important;
  height: 34px !important;
}

.multiline{
  white-space: pre-line;

  span{
    display: block;
    line-height: 5px;
    padding-bottom: 8px;
  }
}

